@model IEnumerable<DeltaImpuls.Models.member>

@{
    ViewBag.Title = "Startpagina";
}

    <h2>@ViewBag.Title</h2>

    <div class="content-left">
        <h3>Aantal senioren: @ViewBag.SeniorAmount</h3>
        <h3>Aantal junioren: @ViewBag.JuniorAmount</h3>
        <h3>Filteren op:</h3>
    </div>

    <div class="content-right">
        <h3>Kies locatie:</h3>
        <h3>Zoek lid: @Html.TextBox("SearchString", ViewBag.SearchValue as string)</h3>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insertion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bondsnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paratt)
        </th>
        <th>
            Leeftijd
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateborn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.membersince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonennumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobilenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            J/S
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie.name)
        </th>
        <th>
            LJ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location.city)
        </th>
        <th>
            LS
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{ 
                string firstName = Server.HtmlDecode(Html.DisplayFor(modelItem => item.firstname).ToString());
            }
            @Html.ActionLink(firstName, "Edit", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insertion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bondsnr)
        </td>
        <td>
            @{ 
                if (item.cg)
                {
                    @Html.Raw("J")
                }
                else
                {
                    @Html.Raw("N")
                }
            }
        </td>
        <td>
            @{
                if (item.paratt)
                {
                    @Html.Raw("J")
                }
                else
                {
                    @Html.Raw("N")
                }
            }
        </td>
        <td>
            @{ 
                var today = DateTime.Today;
                var age = today.Year - item.dateborn.Year;
                if (item.dateborn > today.AddYears(-age))
                {
                    age--;
                }

                @Html.DisplayTextFor(model => age);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateborn)
        </td>
        <td>
            @{ 
                if (!item.gender)
                {
                    @Html.Raw("M")
                }
                else
                {
                    @Html.Raw("V")
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.membersince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonennumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobilenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @{
                if(item.categorie.name == "Senior")
                {
                    @Html.Raw("S")
                }
                else
                {
                    @Html.Raw("J")
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lj.license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ls.license)
        </td>
    </tr>
}

</table>
