@model IEnumerable<DeltaImpuls.Models.categorie>

@{
    ViewBag.Title = "Categoriën";
}

<h2>@ViewBag.Title</h2>

<table class="table-responsive">
@foreach (var item in Model) {
    <tr>
        <td>
            @{
                string categorie = Server.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString());
            }
            
            @Html.ActionLink(categorie,"Edit", new { id=item.ID})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Create")'">
        Nieuwe categorie toevoegen
    </button>
</p>
