@model IEnumerable<DeltaImpuls.Models.ls>

@{
    ViewBag.Title = "Junior licenties";
}

<h2>@ViewBag.Title</h2>

<table class="table-responsive">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.license)
            </td>
            <td>
                <a href="@Url.Action("edit", new { id = item.ID })" class="btn btn-info">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("delete", new { id = item.ID })" class="btn btn-danger">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }
</table>

<p>
    <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Create")'">
        <span class="fa fa-plus" aria-hidden="true"></span> Nieuwe licentie toevoegen
    </button>
</p>